* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid black;
}

h1 {
  margin:0;
}

main {
  position: relative;
  top: 20px;
  border: 1px solid black;
}

form {
  display: flex;
  flex-direction: column;    
  justify-content: space-evenly;
  align-items: center;
  padding: 15px;
}

.hidden {
  display: none;
}

@media screen and (min-width:500px){
  header {
      width: 450px;
      height: 100px;
      line-height: 100px;
  }

  main {
      width: 450px;
      height: 300px;
  }

  form {
      height: 300px;
  }
}

@media screen and (max-width:500px) and (min-width:0px){
  header {
      width: 90%;
      height: 50px;
      line-height: 50px;
  }

  main {
      width: 90%;
      height: 250px;
  }

  form {
      height: 250px;
  }
}